# ds4tux: allow user access to uinput and hidraw devices
KERNEL=="uinput", MODE="0660", GROUP="input", TAG+="uaccess"
KERNEL=="hidraw*", MODE="0660", GROUP="input", TAG+="uaccess"
